:root {
	--bg-color-primary: #1e213a;
	--bg-color-secundary: #100e1d;

	--color-progressBar: #ffec65;

	--color-buttonsBg-primary: #6e707a;
	--color-buttonsbg-secudary: #3c47e9;

	--text-color: #a09fb1;
	--text-color-light: #e7e7eb;
	--text-color-dark: #88869d;

	--body-fontFamily: "Raleway", sans-serif;
}
