* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: var(--body-fontFamily);
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

ul {
	padding: 0;
}

input,
button {
	font-family: inherit;
}
